<script  id='pinBox' type='text/x-jquery-tmpl'>
	<li>
	
	<a class="tappable">
                                    <table class="pinner">
                                        <tbody>
                                            <tr>
                                                <td class="pinner_image">
	                                                <a href="${user_href}" style="border:none">    
													<img src="${avatars.avatar_image_a}" class="profile user_image" alt="Profile picture of  ">
													</a>
                                                </td>
                                                <td>
                                                	<a href="${user_href}" style="border:none">
                                                    <span class="user_name">${fullname}</span>
                                                   </a>
                                                </td>

                                                <td class="right">
														 
													     <a class="mbtn user red follow" id="follow" style="float:right;{{if user_is_follow}}display:none !important{{/if}}" {{if loged}} data-link="${user_follow_href}" {{else}} href="/users/login" {{/if}}>
										       			 <strong>${text_follow}</strong><span></span>
										   				 </a>
														 </div>
														 
													
										   				 <a class="mbtn user unfollow disabled pressed" id="unfollow" {{if loged}} data-link="${user_follow_href}" {{else}} href="/users/login" {{/if}} style="float:right;margin-top:7px;{{if !user_is_follow}}display:none !important{{/if}}">
										       			 <strong>${text_unfollow}</strong><span></span>
										   				 </a>
														
														 
										   		</td>
                                            </tr>
                                        </tbody>
                                    </table> <!-- End Pinner -->
      </a>
</li>
</script>