<div class="box follow-box event-masonry" id="${user_id}">
	<div class="preview">
		<p class="thumb"><a href="${user_href}"><img class="event-load-lazy-load" data-original="${avatars.avatar_image_c}" src="data/images/grey.gif" alt="${fullname}" /></a></p>
		<h2 class="fullname">${fullname}</h2>	
	</div>
	{{if enable_follow_user}}
	<div class="followbuttons">
		{{if user_is_follow}}
		<a href="${user_follow_href}" class="grey-button disabled event-click-follow-user">${text_unfollow}</a>
		{{else}}
		<a href="${user_follow_href}" class="grey-button event-click-follow-user">${text_follow}</a>
		{{/if}}
	</div>
	{{/if}}	
</div>